## T-Test

Used to determine if there is any significant difference between means of two groups which may be related in certain ways

Types of T-test:
    - One Sampled T-test
    - Two Samples T-test

## One Samples T-test

Tells whether means of the population and sample are different

In [29]:
from scipy.stats import ttest_1samp

In [1]:
import pandas as pd
titanic = pd.read_csv('train.csv')

In [2]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

let us consider Age variable

In [54]:
titanic['Age'] = titanic.Age.fillna(np.mean(titanic['Age']))

In [5]:
import numpy as np

In [20]:
len(titanic)

891

In [32]:
import random

In [40]:
import warnings
warnings.filterwarnings('ignore')

In [60]:
np.random.seed(64)

In [66]:
# randomly taking a sample of size 100
cond = np.random.randint(0,891,100)

In [62]:
ages_mean = np.mean(titanic['Age'])
ages_mean

29.699117647058763

In [63]:
age_sample = titanic.iloc[cond]['Age']
np.array(age_sample)

array([30.        ,  2.        , 29.69911765, 65.        , 10.        ,
       33.        , 29.69911765, 29.69911765, 22.        , 16.        ,
       24.        , 27.        , 28.        ,  2.        , 61.        ,
       33.        , 29.69911765, 29.69911765,  1.        , 28.        ,
       29.69911765, 48.        , 60.        , 29.69911765, 19.        ,
       30.        ,  8.        , 30.        , 36.        , 60.        ,
       32.        , 18.        , 26.        , 37.        , 27.        ,
       33.        , 21.        , 18.        , 60.        , 29.69911765,
       36.        , 18.        , 19.        , 39.        , 50.        ,
       29.69911765, 27.        , 24.        , 36.        , 29.69911765,
       28.5       , 19.        , 11.        , 29.69911765, 24.        ,
       29.69911765, 27.        , 27.        , 33.        , 55.        ,
       17.        , 29.69911765,  9.        , 20.        , 27.        ,
       61.        , 36.        , 18.        , 42.        , 29.69911765,
       33.        , 30.        , 29.69911765, 24.        , 29.69911765,
       29.69911765, 42.        , 36.        , 21.        , 16.        ,
       40.        , 29.69911765, 21.        , 23.5       , 29.69911765,
       44.        , 25.        , 29.69911765, 21.        , 29.69911765,
        8.        , 24.        , 29.69911765, 29.        , 33.        ,
       24.        ,  9.        , 29.69911765, 36.        , 29.        ])

In [64]:
# now lets check if the mean of the age_sample is different from that of ages_mean

ttest,p_value = ttest_1samp(np.array(age_sample), 29)

print('p_value',p_value)

if p_value < 0.05:
    print('Rejcting Null Hypothesis, There is difference in the sample mean and the populatin mean')
else:
    print('Accepting Null Hypothesis, There is No difference in the sample mean and the population mean')

p_value 0.9994923665827541
Accepting Null Hypothesis, There is No difference in the sample mean and the population mean

## Two sample T-test

The independent Samples T-test or 2-sample t-test compares the mean of the two independent groups in order to determine whether there is a ststistical evidence that the associated population means are significantly different.

In [68]:
import seaborn as sns

In [69]:
tips = sns.load_dataset('tips')

In [70]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [105]:
tips['smoker'].unique()

[No, Yes]
Categories (2, object): [No, Yes]

In [74]:
import scipy.stats as stats

In [76]:
#Ho ==> there is no difference between means of tip and size
#H1 ==> these is difference between means of tip and size

_,p_value = stats.ttest_ind(a=tips['tip'], b=tips['size'] )

print('P_value :-',p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

P_value :- 7.703542627125084e-05
 we are rejecting null hypothesis

## Paired T-test

When we want to check how different samples from same group are , we go for Paired T-test

In [81]:
titanic['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [86]:
len(range(790,890))

100

In [91]:
# considering thr first 100 and last 100 samples from Age feature of titanic dataset
cond1 = range(100)
cond2 = range(791,891)

In [92]:
_, p_value = stats.ttest_rel(a=titanic.iloc[cond1]['Age'],
                            b = titanic.iloc[cond2]['Age'])
print('p_value :-',p_value)

if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

p_value :- 0.6833535852122945
we are accepting null hypothesis

## Anova (F-Test)

T-test works when delaing with two groups, sometimes we need to compare more than two groups at the same time


Ex: 
    To test whether petal_width differs based on some categories like species

## One way Anova

It  tells whether two or more groups are similar or not based on their similarity and f-score

Ex: 3 different categories of iris flowers(species) and their petal width, check whether all 3 groups are similar or not

In [80]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [95]:
iris_anova = iris[['petal_width','species']]

In [97]:
grps = iris_anova['species'].unique()
grps

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [103]:
iris_data = {grp:iris_anova['petal_width'][iris_anova.species == grp] for grp in grps}
iris_data

{'setosa': 0     0.2
 1     0.2
 2     0.2
 3     0.2
 4     0.2
 5     0.4
 6     0.3
 7     0.2
 8     0.2
 9     0.1
 10    0.2
 11    0.2
 12    0.1
 13    0.1
 14    0.2
 15    0.4
 16    0.4
 17    0.3
 18    0.3
 19    0.3
 20    0.2
 21    0.4
 22    0.2
 23    0.5
 24    0.2
 25    0.2
 26    0.4
 27    0.2
 28    0.2
 29    0.2
 30    0.2
 31    0.4
 32    0.1
 33    0.2
 34    0.2
 35    0.2
 36    0.2
 37    0.1
 38    0.2
 39    0.2
 40    0.3
 41    0.3
 42    0.2
 43    0.6
 44    0.4
 45    0.3
 46    0.2
 47    0.2
 48    0.2
 49    0.2
 Name: petal_width, dtype: float64, 'versicolor': 50    1.4
 51    1.5
 52    1.5
 53    1.3
 54    1.5
 55    1.3
 56    1.6
 57    1.0
 58    1.3
 59    1.4
 60    1.0
 61    1.5
 62    1.0
 63    1.4
 64    1.3
 65    1.4
 66    1.5
 67    1.0
 68    1.5
 69    1.1
 70    1.8
 71    1.3
 72    1.5
 73    1.2
 74    1.3
 75    1.4
 76    1.4
 77    1.7
 78    1.5
 79    1.0
 80    1.1
 81    1.0
 82    1.2
 83    1.6
 84    1.5
 85    1.6
 86    1.5
 87    1.3
 88    1.3
 89    1.3
 90    1.2
 91    1.4
 92    1.2
 93    1.0
 94    1.3
 95    1.2
 96    1.3
 97    1.3
 98    1.1
 99    1.3
 Name: petal_width, dtype: float64, 'virginica': 100    2.5
 101    1.9
 102    2.1
 103    1.8
 104    2.2
 105    2.1
 106    1.7
 107    1.8
 108    1.8
 109    2.5
 110    2.0
 111    1.9
 112    2.1
 113    2.0
 114    2.4
 115    2.3
 116    1.8
 117    2.2
 118    2.3
 119    1.5
 120    2.3
 121    2.0
 122    2.0
 123    1.8
 124    2.1
 125    1.8
 126    1.8
 127    1.8
 128    2.1
 129    1.6
 130    1.9
 131    2.0
 132    2.2
 133    1.5
 134    1.4
 135    2.3
 136    2.4
 137    1.8
 138    1.8
 139    2.1
 140    2.4
 141    2.3
 142    1.9
 143    2.3
 144    2.5
 145    2.3
 146    1.9
 147    2.0
 148    2.3
 149    1.8
 Name: petal_width, dtype: float64}

In [104]:
F,p_value = stats.f_oneway(iris_data['setosa'],iris_data['versicolor'],iris_data['virginica'])

print('p_value :-',p_value)

if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

p_value :- 4.169445839443116e-85
 we are rejecting null hypothesis

## Chi2 Test

In [108]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [118]:
dataset_table = pd.crosstab(tips['sex'],tips['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [120]:
#Observed Values
Observed_Values = dataset_table.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[60 97]
 [33 54]]

In [121]:
val = stats.chi2_contingency(dataset_table)
val

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [122]:
Expected_values = val[3]

In [123]:
no_of_rows = len(dataset_table.iloc[0:2,0])
no_of_columns = len(dataset_table.iloc[0,0:2])
ddof = (no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [124]:
from scipy.stats import chi2

In [127]:
chi_square = sum([(o-e)**2./e for o,e in zip(Observed_Values, Expected_values)])
chi_square_statistic = chi_square[0] + chi_square[1]
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 0.001934818536627623

In [129]:
critical_value = chi2.ppf(q=1-alpha,df = ddof)
print('critical_value:', critical_value)

critical_value: 3.841458820694124

In [130]:
#p-value
p_value = 1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value',p_value)
print('significance level', alpha)
print('Degree of Freedom ', ddof)

p-value 0.964915107315732
significance level 0.05
Degree of Freedom  1

In [131]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables

In [132]:
# ALternate method
import researchpy as rp
table,results = rp.crosstab(tips['sex'],tips['smoker'], test = 'chi-square')
print(results)
results.iloc[1]

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    0.0019
1                    p-value =    0.9649
2               Cramer's phi =    0.0028

Chi-square test    p-value =
results                0.9649
Name: 1, dtype: object

In [140]:
p_value = results.iloc[1][1]
print('p_value :',p_value)
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

p_value : 0.9649
Retain H0,There is no relationship between 2 categorical variables